<div data-tmpl-name="std_handlers_pack_STDH_JSONEditor">

	<div class="line">
	
		<p class="label"></p>
		<div class="wrap"><textarea name="STDH_JSONEditor" class="RS_remove_placeholder_on_focus" rows="1"></textarea></div>
	
	</div>
	
</div>