<div data-tmpl-name="std_handlers_pack_STDH_UrlHandler">
	
	<div class="url_line">
		<input name="STDH_UrlHandler" class="RS_remove_placeholder_on_focus" type="text" value="" />
	</div>

	<div class="link_line">→ <a href="" title="Открыть страницу" target="_blanc">Открыть страницу</a></div>
	
	<div class="check_line">
		<label>
			<input name="autogen" class="autogen" type="checkbox" value="1" /> Автогенерация при сохранении
		</label>
	</div>	
	
</div>