<div data-tmpl-name="std_handlers_pack_STDH_ImgCollection">
	
	<div class="wrap">
	
		<div class="tmpl off">
		
			<div class="item">
	
				<div class="image_column">
				
					<div class="img_wrap">
					
						<img src="" data-img="" />
					
					</div>
					
					<p>200x300 px</p>
					
					<div class="control">
					
						<span class="button prev" data-action="prev_img" title="Следующий тип изображения в группе изображений">←</span>
						<span class="button next" data-action="next_img" title="Предыдущий тип изображения в группе изображений">→</span>
						<span class="button download" title="Загрузить изображение данного типа в группу изображений">↓</span>
					
					</div>					
				
				</div>
				
				<div class="desc_column">
				
					<h3>Группа изображений #<span>1</span></h3>
					<div class="control">
					
						<span class="button prev" data-action="prev_item" title="Предыдущая группа изображений">←</span>
						<span class="button next" data-action="next_item" title="Следующая группа изображений">→</span>
						<span class="button add" data-action="add_item" title="Добавить новую группу изображений">+</span>
						<span class="button up" data-action="up_item" title="Переместить эту группу изображений на одну позицию вверх">↑</span>
						<span class="button del" data-action="del_item" title="Удалить эту группу изображений">-</span>

					</div>

				</div>
		
			</div>
			
		</div>
		
	</div>
	
</div>

<div data-tmpl-name="std_handlers_pack_STDH_ImgCollection_modal">

	<div class="std_handlers_pack_STDH_ImgCollection_modal"><strong>Ошибка :(</strong> Кажется, вы пытаетесь загрузить изображение неподходящего размера</div>

</div>